.fondo {
    background-image: url(../img/pixel.jpg);
    background-size: 100% auto;
    background-position: center top;
    background-repeat: repeat;
   }

.fondo_footer {
    background-image: url(../img/fondo-pixel2.png);
    background-size: 100% auto;
    background-position: center top;
    background-repeat: repeat;
}