.fondo {
    background-image: url(../img/pixel.jpg);
    background-size: 100% auto;
    background-position: center top;
    background-repeat: repeat;
   }

.fondo_footer {
    background-image: url(../img/fondo-pixel2.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }